h1{
    background-color: brown;
    padding:2px;
    margin:3px;
}
body {
    background-color: blueviolet;
}
button{
    background-color: brown;
    border: 2px solid black;
    border-radius: 3px;
    
}
.body{
background-color: yellow;
}
.body {
    background-color: violet;
    font-family: cursive;
    
}
.heading{
    background-color: pink;
}